<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ static_url('ztq_console:static/style.css') }}" type="text/css" />
</head>
<body>
    <div id='header'>
        <h1>{{title}}</h1>
        <div class="powered">
          {% if servers %}
            <form action="/switch_redis.html" method="POST" target="_parent">
            <span>当前监控的服务：</span>
            <select name="redis_name">
                {% for server in servers %}
                     {% if server['name'] == current_redis%}
                         <option value ="{{server['name']}}" selected='selected'>{{server['title']}}</option>

                      {% else %}
                         <option value ="{{server['name']}}" >{{server['title']}}</option>

                      {% endif %}   
                {% endfor %}
            </select>
            <input type="submit" value="切换"/>
            </form>
          {% endif %}   


        </div>
        <div class="clear"></div>
   </div>
</body>
</html>
